<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Photo Gallery </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div
    class="ion-text-left"
    *ngIf="text.ksgallerytext"
    [innerHTML]="text.ksgallerytext"
  ></div>
  <ng-container *ngIf="!text.ksgallerytext">
    <ion-row class="ion-text-left text-bold">
      <ion-col>
        <ion-label> Guidelines for image upload : </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-left text-small">
      <ion-col>
        <ion-label> 1) Only horizontal image to be uploaded</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-left text-small">
      <ion-col>
        <ion-label>2) Blurry images will be rejected</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-left text-small">
      <ion-col>
        <ion-label
          >3) You can change the images anytime and showcase your
          dishes</ion-label
        >
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-left text-small">
      <ion-col>
        <ion-label
          >4) Do not mention your personal information like phone number or
          address</ion-label
        >
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-left text-small">
      <ion-col>
        <ion-label
          >5) Image in PNG/JPEG format only and less than 1MB</ion-label
        >
      </ion-col>
    </ion-row>
  </ng-container>

  <ion-item *ngIf="photo">
    <ion-img [src]="photo"></ion-img>
  </ion-item>

  <ion-row>
    <ion-col size="12" *ngFor="let photo of images">
      <ion-item>
        <img style="height: 100px" [src]="baseUrl + photo.img" />

        <ion-button
          fill="outline"
          slot="end"
          (click)="ImageDeletionOptions(photo.id)"
        >
          <ion-icon name="trash"></ion-icon
        ></ion-button>
      </ion-item>
      <!-- <ion-img [src]="'https://mykhaana.in/testenv/'+photo.img"></ion-img>
      <ion-button (click)="ImageDeletionOptions(photo.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button> -->
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer *ngIf="images && 5 > images.length ">
  <ion-button
    expand="block"
    size="large"
    fill="outline"
    (click)="ImageSelectionOptions()"
  >
    <ion-icon name="camera"></ion-icon> Upload New Image
  </ion-button>
</ion-footer>
