<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="text"> Bakery Items </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data && text">
  <ion-searchbar
    showcancelbutton=""
    (ionInput)="filterList($event)"
  ></ion-searchbar>
  <div style="background-color: white; padding: 10px 10px">
    <ion-segment [(ngModel)]="pet" scrollable mode="ios">
      <ion-segment-button *ngFor="let cate of data" value="{{ cate.id }}">
        {{ cate.cate_name }}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="pet">
    <div *ngFor="let itm of data">
      <div id="{{itm.id}}" *ngSwitchCase="itm.id">
        <ion-card
          mode="ios"
          style="background-color: white"
          *ngFor="let item of itm.items"
        >
          <ion-card-content>
            <ion-row>
              <ion-col size="3"
                ><img src="{{ item.img }}" style="width: 80%; margin-left: 10%"
              /></ion-col>
              <ion-col size="7"
                >{{ item.name }}
                <p style="font-size: 13px; font-weight: 800; color: #000">
                  {{ item.price }}
                </p></ion-col
              >
              <ion-col size="2" *ngIf="item.status == 1"
                ><ion-toggle
                  mode="ios"
                  (ionChange)="changeStatus(item.id,0,10)"
                ></ion-toggle
              ></ion-col>
              <ion-col size="2" *ngIf="item.status == 0"
                ><ion-toggle
                  mode="ios"
                  checked="true"
                  (ionChange)="changeStatus(item.id,1,10)"
                ></ion-toggle
              ></ion-col>
            </ion-row>
            <ion-row class="head">
              <ion-col class="border">Preference</ion-col>
              <ion-col class="border">Flavour</ion-col>
              <ion-col class="border">Weight</ion-col>
              <ion-col class="border">Price</ion-col>
            </ion-row>
            <ion-row *ngFor="let value of item.variation; let i = index">
              <ion-col class="border">{{value.preference}} </ion-col>
              <ion-col class="border">{{value.flavour}} </ion-col>
              <ion-col class="border">{{value.weight}} </ion-col>
              <ion-col class="border">{{value.price | currency:'INR'}}</ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
